In [33]:
import geopandas as gpd
import pyproj
import sys

In [34]:

df = gpd.read_file('Fatal_Crashes_-_Lives_Lost%2C_Last_5_Years_to_Date.geojson')

In [35]:
print(sys.version)
print(pyproj.__version__)
print(gpd.__version__)

3.7.0 (default, Jun 28 2018, 07:39:16)
[Clang 4.0.1 (tags/RELEASE_401/final)]
1.9.5.1
0.6.1

In [36]:
df.head(10)

,OBJECTID,ACCIDENT_N,ACCIDENT_D,ACC_TIME,NO_VEHICLE,ACCIDENT_T,ACC_T_DESC,ABS_CODE,PERSON_ID,AGE,...,RD_TYPE_1,RD_NAME_2,RD_TYPE_2,DEC_RD_DES,LGA_NAME,REGION_NAM,STAT_DIV_N,AMG_X,AMG_Y,geometry
0,1,T20150013823,2015-07-01T00:00:00,03.:0.00,3,1,Collision with vehicle,A,A,39,...,ROAD,ATKINSON,STREET,Declared Road,MONASH,METROPOLITAN SOUTH EAST REGION,Melbourne - South East,2508215.796,2400842.975,POINT (145.09341 -37.89348)
1,2,T20150013938,2015-07-02T00:00:00,14.:2.00,2,1,Collision with vehicle,A,01,18,...,HIGHWAY,BARUNAH PLAINS,ROAD,Declared Road,COLAC OTWAY,SOUTH WESTERN REGION,Country,2393914.484,2380247.44,POINT (143.79098 -38.07300)
2,3,T20150014033,2015-07-03T00:00:00,15.:3.00,2,1,Collision with vehicle,A,01,46,...,ROAD,OLD WILBY,ROAD,Non Declared Road,MOIRA,NORTH EASTERN REGION,Country,2591342.411,2607576.833,POINT (146.01343 -36.02608)
3,4,T20150014033,2015-07-03T00:00:00,15.:3.00,2,1,Collision with vehicle,A,A,65,...,ROAD,OLD WILBY,ROAD,Non Declared Road,MOIRA,NORTH EASTERN REGION,Country,2591342.411,2607576.833,POINT (146.01343 -36.02608)
4,5,T20150014077,2015-07-04T00:00:00,12.:4.00,2,1,Collision with vehicle,A,A,49,...,FREEWAY,HUME,FREEWAY,Declared Road,MITCHELL,NORTHERN REGION,Country,2508126.719,2488400.553,POINT (145.09144 -37.10450)
5,6,T20150014094,2015-07-05T00:00:00,01.:4.00,1,4,Collision with a fixed object,A,A,37,...,HIGHWAY,MT PLEASANT,ROAD,Declared Road,MURRINDINDI,NORTH EASTERN REGION,Country,2564973.052,2476688.783,POINT (145.73205 -37.20783)
6,7,T20150014262,2015-07-07T00:00:00,15.:5.00,1,4,Collision with a fixed object,A,A,42,...,HIGHWAY,MCDONNELLS,ROAD,Declared Road,COLAC OTWAY,SOUTH WESTERN REGION,Country,2392701.872,2354837.167,POINT (143.77343 -38.30175)
7,8,T20150014547,2015-07-11T00:00:00,21.:0.00,1,4,Collision with a fixed object,A,A,51,...,ROAD,OBREES,ROAD,Non Declared Road,HORSHAM,WESTERN REGION,Country,2232974.151,2529269.447,POINT (142.01096 -36.69843)
8,9,T20150014842,2015-07-16T00:00:00,16.:0.00,1,5,Collision with some other object,A,A,74,...,HIGHWAY,JONES CREEK,ROAD,Declared Road,EAST GIPPSLAND,EASTERN REGION,Country,2900732.511,2434540.649,POINT (149.53433 -37.50388)
9,10,T20150015013,2015-07-18T00:00:00,16.:0.00,1,4,Collision with a fixed object,A,A,20,...,TRACK,MENZLES PIT,ROAD,Non Declared Road,SOUTHERN GRAMPIANS,SOUTH WESTERN REGION,Country,2238245.823,2398676.09,POINT (142.02425 -37.87618)

In [37]:
df.describe()

          OBJECTID   NO_VEHICLE        NODE_ID
count  1264.000000  1264.000000    1264.000000
mean    632.500000     1.620253  305705.439082
std     365.029679     0.858898  168272.486953
min       1.000000     0.000000     478.000000
25%     316.750000     1.000000  292936.750000
50%     632.500000     1.000000  314264.000000
75%     948.250000     2.000000  339984.250000
max    1264.000000    11.000000  665286.000000

In [13]:
print(df.columns.to_list())

['OBJECTID', 'ACCIDENT_N', 'ACCIDENT_D', 'ACC_TIME', 'NO_VEHICLE', 'ACCIDENT_T', 'ACC_T_DESC', 'ABS_CODE', 'PERSON_ID', 'AGE', 'RD_USER_T', 'RD_U_DESC', 'SEX', 'LOCATION_D', 'NODE_ID', 'LOCATION_T', 'NODE_TYPE', 'N_TYPE_DES', 'ROAD_ROUTE', 'RD_NAME_1', 'RD_TYPE_1', 'RD_NAME_2', 'RD_TYPE_2', 'DEC_RD_DES', 'LGA_NAME', 'REGION_NAM', 'STAT_DIV_N', 'AMG_X', 'AMG_Y', 'geometry']

In [38]:
df = df.drop(columns = ['REGION_NAM', 'STAT_DIV_N', 'AMG_X', 'AMG_Y'])

In [39]:
df.head(10)

,OBJECTID,ACCIDENT_N,ACCIDENT_D,ACC_TIME,NO_VEHICLE,ACCIDENT_T,ACC_T_DESC,ABS_CODE,PERSON_ID,AGE,...,NODE_TYPE,N_TYPE_DES,ROAD_ROUTE,RD_NAME_1,RD_TYPE_1,RD_NAME_2,RD_TYPE_2,DEC_RD_DES,LGA_NAME,geometry
0,1,T20150013823,2015-07-01T00:00:00,03.:0.00,3,1,Collision with vehicle,A,A,39,...,I,Intersection,2510,DANDENONG,ROAD,ATKINSON,STREET,Declared Road,MONASH,POINT (145.09341 -37.89348)
1,2,T20150013938,2015-07-02T00:00:00,14.:2.00,2,1,Collision with vehicle,A,01,18,...,N,Non Intersection,2780,HAMILTON,HIGHWAY,BARUNAH PLAINS,ROAD,Declared Road,COLAC OTWAY,POINT (143.79098 -38.07300)
2,3,T20150014033,2015-07-03T00:00:00,15.:3.00,2,1,Collision with vehicle,A,01,46,...,I,Intersection,9999,CAHILLS,ROAD,OLD WILBY,ROAD,Non Declared Road,MOIRA,POINT (146.01343 -36.02608)
3,4,T20150014033,2015-07-03T00:00:00,15.:3.00,2,1,Collision with vehicle,A,A,65,...,I,Intersection,9999,CAHILLS,ROAD,OLD WILBY,ROAD,Non Declared Road,MOIRA,POINT (146.01343 -36.02608)
4,5,T20150014077,2015-07-04T00:00:00,12.:4.00,2,1,Collision with vehicle,A,A,49,...,N,Non Intersection,2550,HUME,FREEWAY,HUME,FREEWAY,Declared Road,MITCHELL,POINT (145.09144 -37.10450)
5,6,T20150014094,2015-07-05T00:00:00,01.:4.00,1,4,Collision with a fixed object,A,A,37,...,N,Non Intersection,2640,GOULBURN VALLEY,HIGHWAY,MT PLEASANT,ROAD,Declared Road,MURRINDINDI,POINT (145.73205 -37.20783)
6,7,T20150014262,2015-07-07T00:00:00,15.:5.00,1,4,Collision with a fixed object,A,A,42,...,N,Non Intersection,2500,PRINCES,HIGHWAY,MCDONNELLS,ROAD,Declared Road,COLAC OTWAY,POINT (143.77343 -38.30175)
7,8,T20150014547,2015-07-11T00:00:00,21.:0.00,1,4,Collision with a fixed object,A,A,51,...,N,Non Intersection,9999,QUANTONG-POLKEMMET,ROAD,OBREES,ROAD,Non Declared Road,HORSHAM,POINT (142.01096 -36.69843)
8,9,T20150014842,2015-07-16T00:00:00,16.:0.00,1,5,Collision with some other object,A,A,74,...,N,Non Intersection,2510,PRINCES,HIGHWAY,JONES CREEK,ROAD,Declared Road,EAST GIPPSLAND,POINT (149.53433 -37.50388)
9,10,T20150015013,2015-07-18T00:00:00,16.:0.00,1,4,Collision with a fixed object,A,A,20,...,N,Non Intersection,9999,COLES,TRACK,MENZLES PIT,ROAD,Non Declared Road,SOUTHERN GRAMPIANS,POINT (142.02425 -37.87618)

In [40]:
df = df.drop(columns = ['ACCIDENT_N'])

In [41]:
df = df.drop(columns = ['ABS_CODE', 'PERSON_ID'])

In [42]:
df = df.drop(columns = ['NODE_ID','LOCATION_T'])

In [43]:
df.head(10)

,OBJECTID,ACCIDENT_D,ACC_TIME,NO_VEHICLE,ACCIDENT_T,ACC_T_DESC,AGE,RD_USER_T,RD_U_DESC,SEX,...,NODE_TYPE,N_TYPE_DES,ROAD_ROUTE,RD_NAME_1,RD_TYPE_1,RD_NAME_2,RD_TYPE_2,DEC_RD_DES,LGA_NAME,geometry
0,1,2015-07-01T00:00:00,03.:0.00,3,1,Collision with vehicle,39,4,Motorcyclists,M,...,I,Intersection,2510,DANDENONG,ROAD,ATKINSON,STREET,Declared Road,MONASH,POINT (145.09341 -37.89348)
1,2,2015-07-02T00:00:00,14.:2.00,2,1,Collision with vehicle,18,3,Passengers,M,...,N,Non Intersection,2780,HAMILTON,HIGHWAY,BARUNAH PLAINS,ROAD,Declared Road,COLAC OTWAY,POINT (143.79098 -38.07300)
2,3,2015-07-03T00:00:00,15.:3.00,2,1,Collision with vehicle,46,3,Passengers,M,...,I,Intersection,9999,CAHILLS,ROAD,OLD WILBY,ROAD,Non Declared Road,MOIRA,POINT (146.01343 -36.02608)
3,4,2015-07-03T00:00:00,15.:3.00,2,1,Collision with vehicle,65,2,Drivers,M,...,I,Intersection,9999,CAHILLS,ROAD,OLD WILBY,ROAD,Non Declared Road,MOIRA,POINT (146.01343 -36.02608)
4,5,2015-07-04T00:00:00,12.:4.00,2,1,Collision with vehicle,49,4,Motorcyclists,M,...,N,Non Intersection,2550,HUME,FREEWAY,HUME,FREEWAY,Declared Road,MITCHELL,POINT (145.09144 -37.10450)
5,6,2015-07-05T00:00:00,01.:4.00,1,4,Collision with a fixed object,37,2,Drivers,M,...,N,Non Intersection,2640,GOULBURN VALLEY,HIGHWAY,MT PLEASANT,ROAD,Declared Road,MURRINDINDI,POINT (145.73205 -37.20783)
6,7,2015-07-07T00:00:00,15.:5.00,1,4,Collision with a fixed object,42,2,Drivers,M,...,N,Non Intersection,2500,PRINCES,HIGHWAY,MCDONNELLS,ROAD,Declared Road,COLAC OTWAY,POINT (143.77343 -38.30175)
7,8,2015-07-11T00:00:00,21.:0.00,1,4,Collision with a fixed object,51,2,Drivers,M,...,N,Non Intersection,9999,QUANTONG-POLKEMMET,ROAD,OBREES,ROAD,Non Declared Road,HORSHAM,POINT (142.01096 -36.69843)
8,9,2015-07-16T00:00:00,16.:0.00,1,5,Collision with some other object,74,2,Drivers,M,...,N,Non Intersection,2510,PRINCES,HIGHWAY,JONES CREEK,ROAD,Declared Road,EAST GIPPSLAND,POINT (149.53433 -37.50388)
9,10,2015-07-18T00:00:00,16.:0.00,1,4,Collision with a fixed object,20,4,Motorcyclists,M,...,N,Non Intersection,9999,COLES,TRACK,MENZLES PIT,ROAD,Non Declared Road,SOUTHERN GRAMPIANS,POINT (142.02425 -37.87618)

In [44]:
df_ped = df.loc[(df['ACC_T_DESC'] == 'Struck Pedestrian')]

In [45]:
df_ped.head(10)

,OBJECTID,ACCIDENT_D,ACC_TIME,NO_VEHICLE,ACCIDENT_T,ACC_T_DESC,AGE,RD_USER_T,RD_U_DESC,SEX,...,NODE_TYPE,N_TYPE_DES,ROAD_ROUTE,RD_NAME_1,RD_TYPE_1,RD_NAME_2,RD_TYPE_2,DEC_RD_DES,LGA_NAME,geometry
12,13,2015-07-26T00:00:00,20.:1.00,2,2,Struck Pedestrian,74,1,Pedestrians,F,...,I,Intersection,9999,JENSEN,STREET,SOUTH,STREET,Non Declared Road,MORELAND,POINT (144.93918 -37.71415)
16,17,2015-07-30T00:00:00,18.:0.00,1,2,Struck Pedestrian,69,1,Pedestrians,F,...,N,Non Intersection,5910,GRIMSHAW,STREET,MONCKTON,ROAD,Declared Road,BANYULE,POINT (145.06054 -37.70020)
18,19,2015-08-01T00:00:00,10.:3.00,1,2,Struck Pedestrian,66,1,Pedestrians,M,...,N,Non Intersection,9999,CHAPEL,STREET,DICKENS,STREET,Non Declared Road,PORT PHILLIP,POINT (144.99005 -37.87001)
27,28,2015-08-13T00:00:00,11.:0.00,1,2,Struck Pedestrian,68,1,Pedestrians,M,...,N,Non Intersection,2800,PRINCES,HIGHWAY,PRINCES REV,HIGHWAY SERVICE ROAD,Declared Road,GEELONG,POINT (144.35664 -38.09003)
28,29,2015-08-14T00:00:00,16.:2.00,1,2,Struck Pedestrian,70,1,Pedestrians,M,...,N,Non Intersection,5106,CRAIGIEBURN,ROAD,CLOVELLY,DRIVE,Declared Road,HUME,POINT (144.92781 -37.59751)
30,31,2015-08-15T00:00:00,18.:1.00,1,2,Struck Pedestrian,36,1,Pedestrians,M,...,N,Non Intersection,9999,SCHOOL,ROAD,OLD ORBOST,ROAD,Non Declared Road,EAST GIPPSLAND,POINT (147.86484 -37.82092)
33,34,2015-08-18T00:00:00,20.:1.00,1,2,Struck Pedestrian,60,1,Pedestrians,M,...,N,Non Intersection,5047,SYDNEY,ROAD,ENTERPRISE,DRIVE,Declared Road,BENALLA,POINT (146.01365 -36.54172)
34,35,2015-08-18T00:00:00,19.:0.00,1,2,Struck Pedestrian,52,1,Pedestrians,M,...,N,Non Intersection,2510,PRINCES,HIGHWAY,WEEKES,ROAD,Declared Road,EAST GIPPSLAND,POINT (148.02681 -37.86169)
40,41,2015-08-27T00:00:00,18.:4.00,1,2,Struck Pedestrian,75,1,Pedestrians,M,...,I,Intersection,2750,BURWOOD,HIGHWAY,DAWSON,STREET,Declared Road,KNOX,POINT (145.30929 -37.89349)
43,44,2015-08-31T00:00:00,19.:5.00,1,2,Struck Pedestrian,42,1,Pedestrians,M,...,N,Non Intersection,2090,FRANKSTON-DANDENONG,ROAD,COJO,PLACE,Declared Road,DANDENONG,POINT (145.21310 -38.02585)

In [46]:
df_ped.describe()

         OBJECTID  NO_VEHICLE
count   173.00000  173.000000
mean    677.33526    1.063584
std     365.09171    0.375876
min      13.00000    0.000000
25%     339.00000    1.000000
50%     745.00000    1.000000
75%     996.00000    1.000000
max    1256.00000    4.000000

In [47]:
df.to_file("clean_data.geojson", driver='GeoJSON')

In [32]:
df_ped.to_file("clean_data_.geojson", driver='GeoJSON')

geopandas.geodataframe.GeoDataFrame